/*CHANGING LINK COLOR*/

a{
     color: #ffffff !important;
}
/*----------------*/

/*---TILES START---*/
.question-bank {
    
    background-color: #3498db;
    overflow: hidden;
    height: auto;
    color: white;
    padding: 0 10px 0 10px;
    font-size: 120%;
    text-align: center;
    transition: background 1s;
}

.create-test{
    
    background-color: #e67e22;
    overflow: hidden;
    height: auto;
    color: white;
    padding: 0 10px 0 10px;
    font-size: 120%;
    text-align: center;
    transition: background 1s;
    
}


.study-mat{
    
    background-color: #1abc9c;
    overflow: hidden;
    height: auto;
    color: white;
    padding: 0 10px 0 10px;
    font-size: 120%;
    text-align: center;
    transition: background 1s;
}




.row{
    margin-top: 70px;
    margin-left: -10px;
}
.test-slide{
    
    background-color: #1abc9c;
    overflow: hidden;
    height: auto;
    color: #ffffff;
    padding: 0 10px 0 10px;
    font-size: 120%;
    text-align: center;
    transition: background 1s;
}
/*----------------*/
/*HOVER EFFECTS AND ANIMATIONS*/
/*---HOVER TILE---*/
.question-bank:hover { background-color: #27ae60;}
.create-test:hover{background-color: #9b59b6;}
.study-mat:hover{background-color:#e74c3c;}
.test-slide:hover{background-color: #e67e22;}
/*----------------*/
/*ANIMATIONS-REFER ANIMATE.CSS STYLESHEET*/
.question-bank .create-test .study-mat .test-slide.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


